body,html{
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
	box-sizing: border-box;
}
#container{
	display: flex;
	flex-direction: column;
	height:100%;
	background: #F1F1F1;
}
header{
	width: 100%;
	height: 41.1vw;
}
header .honousImg{
	display: block;
	width: 100%;
	height: 100%;
	background-size: contain;
}
#scroll-container{
	overflow-y: scroll;
}
.table{
	width: 100%;
	height: auto;
	font-size: 3.73vw;
	color: #000;
	background: #fff;
}
.table img{
	display: inline-block;
	vertical-align: middle;
}
.table thead{
	color: #fff;
	background: #78A7EF;
}
.table tr,.table thead{
	text-align: center;
	height: 11.0vw;
	line-height: 11.0vw;
}
.table td{
	border-bottom: 1px solid #999;
}
